@model IEnumerable<demo_app.Models.TodoModel>

<h1>To-Do List</h1>

<form asp-controller="Todo" asp-action="Create" method="post">
    <input type="text" name="Title" placeholder="Add new task" required />
    <button type="submit">Add Todo</button>
</form>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Title
            <form asp-controller="Todo" asp-action="Delete" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit">Delete</button>
            </form>
        </li>
    }
</ul>
